body{
    background: linear-gradient(to right, aquamarine, pink);
}
h2{ 
    font-family: 'Press Start 2P';
  
}
div{ 
    font-style:italic;
    font-size: 50
    
}
button{ 
    padding: 12 px, 24 px;
    font-size: 18 px;
    border-radius: 8 px;
    background-color: wheat;
    color: white; 
    border: none;
    cursor: pointer;
}
input[type="radio"] {
  transform: scale (1.5);
  margin-right: 8 px;
}
label {
  font-size: 20 px;
  margin-bottom: 10 px; 
  display: block;

}

