body{
    background: linear-gradient(to right, aquamarine, pink);
}
h2{ 
    font-family: 'Press Start 2P';
  
}
div{ 
    font-style:italic;
    
}
button{ 
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 8px;
    background-color: wheat;
    color: white; 
    border: none;
    cursor: pointer;
}
input[type="radio"] {
  transform: scale(1.5);
  margin-right: 8px;
}
