body{
    background: linear-gradient(to right, aquamarine, pink);
}
h2{ 
    font-family: 'Press Start 2P';
  
}
div{ 
    font-style:italic;
    font-size: 50px
    
}
button{ 
    padding: 45px 60px;
    font-size: 40px;
    border-radius: 50px;
    background-color: wheat;
    color: white; 
    border: none;
    cursor: pointer;
}
input[type="radio"] {
  transform: scale(1.5);
  margin-right: 8px;
}
label {
  font-size: 20px;
  margin-bottom: 10px; 
  display: block;

}
