body{
    background: linear-gradient(to right, aqua, lightpink);
}
h2{ 
    font-family: 'Press Start 2P';
  
}
div{ 
    font-family:italic;
    
}
#box1{
    border: 5px solid; 
    border-color: rgb(100, 100, 200)
}


